<!-- Footer -->
<footer class="text-center text-lg-start text-muted navbarcolor border-top footer">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->


                    <img src="/img/logo.png" height="120" class="p-3"/>


@*                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>*@


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-white ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        BASIS
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">About TMDB</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Contact us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Support Forums</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">API</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none ">System Status</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        CONTRIBUTE
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Participation Reference Book</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Add New Movie</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Add New Series</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        COMMUNITY
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">guides</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Discussions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Highlights</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Twitter</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1 text-white">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        LEGAL
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Terms of Use</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">API Terms of Use</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Privacy Policy</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://tmdb.com/">TMDB.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->