<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbarcolor">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="">
                <img src="/img/nav-logo.png"
                     height="30"
                     alt="MDB Logo"
                     loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="#">Filmler</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="#">Daha Fazlası...</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center gap-4">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="#">Griş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="#">TMDb'ye Katıl'</a>
                </li>
            </ul>
            <!-- Icon -->
            <a class="text-reset me-4" href="#">
                <img src="/img/glass.png" height="25" width="25" />
            </a>

        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->