html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Navbar Colors*/

.navbarcolor {
    background-color: #0d253f;
}


body .bbbootstrap {
    background-image: url(/img/Banner.jpg) !important;
    background-size: cover;
    padding: 180px 0 30px 0;
}

.bbbootstrap {
    padding: 40px;
    margin-bottom: 22px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #2e9df7;
    -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
}

    .bbbootstrap form {
        position: relative;
        width: 90%;
        margin: 22px auto 0;
    }

span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


.bbbootstrap form input[type="text"] {
    padding: 15px 20px;
    padding-right: 150px;
    border-color: transparent;
    border-radius: 30px;
}

input.InputBox {
    font-family: "lucida grande", "Lucida Sans Unicode", tahoma, sans-serif;
    color: #333;
    font-size: 15px;
    padding: 3px;
    margin: 0;
    width: 250px;
    background: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.4);
}


input[type=text] {
    box-sizing: border-box;
}

.InputBox {
    display: block;
    width: 100% !important;

    font-size: 15px;
    line-height: 22px;
    border-radius: 30px;
}

.bbbootstrap form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 10px 25px;
}

body .Button, body .button {
    background-color: #1268b3;
}


input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.Button, .Button:hover, .Button:focus, .Button:active {
    text-shadow: none;
    border-color: transparent;
}

.Button {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    border: transparent solid 1px;
    border-radius: 30px;
    -webkit-transition: -webkit-box-shadow 50ms;
    transition: -webkit-box-shadow 50ms;
    -o-transition: box-shadow 50ms;
    transition: box-shadow 50ms;
    transition: box-shadow 50ms, -webkit-box-shadow 50ms;
    -webkit-font-smoothing: inherit;
    color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,186,170,1) 0%, rgba(0,212,255,1) 100%);
}



.Title-banner{
    display:flex;
    flex-direction:column;
    gap:15px;
    bottom:100px;
    position:absolute;
}



/*Movie-Card*/

.movie-card {
    width: 150px;
    min-width: 150px;
}

.movie-card img {
 min-height: calc(170px * 1.5);
 height: calc(170px * 1.5);
 border-radius:10px;
 cursor:pointer;
 }

.movie-card h6{
    font-weight:bold;
    margin-top:20px;
}


/*User Score*/

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.circular-progress {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;

    bottom: 25%;
    left: 6%;
}

    .circular-progress:before {
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        background-color: rgb(44, 44, 44);
        border-radius: 50%;
    }

.value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight:700;
    color: white;
}




.circular-progress2 {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

    .circular-progress2:before {
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        background-color: rgb(44, 44, 44);
        border-radius: 50%;
    }

.value-container2 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}





.movie-card {
    position: relative;
}

.scrolling-wrapper {
    overflow-x: auto;
}


.header img {
    position: relative;
    width: 400px;
    height: 100%;
}
.poster {
    position: absolute;
    right: 20%;
    top: 10%;
}

.poster-image img{
    border-radius:10px;
}


.movie-label {
    background-color:blue;
    position: absolute;
    left:90%;
    top: 2%;
    border:solid 1px blue;
}



    .movie-label span {
        background-color: cornflowerblu;
        color: white;
        font-weight: 700;
    }




.movie-label2 {
    background-color: blue;
    position: absolute;
    left: 20%;
    top: 2%;
    border: solid 1px blue;
}



    .movie-label2 span {
        background-color: cornflowerblu;
        color: white;
        font-weight: 700;
    }
